<div class="card bg-primary ">
  <div class="card-header text-center miostyle">
    Nuevo Evento
  </div>
  <div class="card-body bodymargin">
    <form (ngSubmit)="onFormSubmit()" [formGroup]="EventoForm">
      <div class="card bg-light bodymargin">
        <h5 class="card-header">Fecha</h5>
        <div class="card-body outpadd">
          <div class="form-group">
            <input type="date" class="form-control" formControlName="Fecha">
          </div>
        </div>
      </div>
      <div class="card bg-light bodymargin">
        <h5 class="card-header">Reto</h5>
        <div class="card-body outpadd">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="Reto">
          </div>
        </div>
      </div>
      <div class="card bg-light bodymargin">
        <h5 class="card-header">Descripcion</h5>
        <div class="card-body outpadd">
          <div class="form-group">
            <textarea class="form-control" rows="3" formControlName="Descripcion"></textarea>
          </div>
        </div>
      </div>

      <div class="card bg-light">
        <h5 class="card-header">Artistas participantes</h5>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of artistas">
              <div class="form-check ">
                <input class="form-check-input" type="checkbox" id="{{item}}" value="{{item}}" (change)="onChange(item, $event.target.checked)">
                <label class="form-check-label" for="{{item}}">{{item}}</label>
              </div>
            </li>
          </ul>
        </div>
        <button [disabled]="EventoForm.controls.Participantes.controls.length < 2 || !EventoForm.valid " type="submit" class="btn btn-success">Crear</button>
        <!-- <button type="submit" class="btn btn-success">Crear</button>  -->
      </div>
    </form>
  </div>
</div>