<div class="card">
  <h5 class="card-header">Artistas participantes</h5>
  <div class="card-body">
      <ul class="list-group">
          <li class="list-group-item"  *ngFor="let item of artistas"  >
            <div class="form-check " >
              <input class="form-check-input" type="checkbox" id="{{item}}" value="{{item}}">
              <label class="form-check-label" for="{{item}}">{{item}}</label>
            </div>
          </li>
        </ul>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>




